[paths]
cython=/home/cython/www/hg/cython-last-release
cython-release=/home/cython/www/hg/cython-release
cython-devel=/home/cython/www/hg/cython-devel
cython-docs=/home/cython/www/hg/cython-docs

pyrex=/home/cython/www/hg/Pyrex

#cython-dagss=/home/cython/www/hg/cython-dag
#cython-closures=/home/cython/www/hg/cython-closures
#cython-unstable=/home/cython/www/hg/cython-unstable

gsoc-kurt=/home/cython/www/hg/gsoc-kurt
gsoc-danilo=/home/cython/www/hg/gsoc-danilo
gsoc-haoyu=/home/cython/www/hg/gsoc-haoyu

fwrap-dev=/home/cython/www/hg/fwrap-dev

shootout=/home/cython/www/hg/shootout

[web]
push_ssl = false
baseurl = 
